<style>
.compare-row:nth-child(odd) {
  background-color: transparent;
}

.compare-row:nth-child(even) {
  background-color: var(--color-contrast-lower);
}
.compare-header img {
  width: 100%; /* Make the image responsive by setting its width to 100% of its container */
  height: auto; /* Set height to auto to maintain aspect ratio */
  filter: brightness(.91);
  object-fit: cover; /* This will cover the area of the container without stretching the image */
  max-width: 380px ;
}
@media screen and (max-width: 750px) {
.compare-header svg {
  display: none;
}
}
</style>

<div class="compare-guide  body-width pt-24">
  <h2 class="text-center">Which one is best for me?</h2>
  <div class="flex  -mx-4 overflow-auto mt-8 gap-2">
  {% for block in section.blocks %}
    {% assign product = all_products[block.settings.product_reference] %}
    <div class="compare-column w-full">
      <div class="p-6 compare-header">
      {% if product %}
        <img class="br" src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.title }}">
        <h3 class="my-4">{{ product.title }}</h3>
        <div class="flex gap-6">
          <a href="{{ product.url }}" class="btn">Buy now {% render 'btn-arrow' %}</a>
          {% if block.settings.button_url != blank %}
          <a href="/pages/{{ product.handle }}" class="btn btn--ghost">Learn more {% render 'btn-arrow' %}</a>
         {% endif %}
        </div>
      </div>  

      <div class="compare-body w-full"> 
        <!-- Metafields-based Content Table -->
        {% if product.metafields.custom.best_use %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Best use</span> <span class="w-1/3">{{ product.metafields.custom.best_use }}</span></div>
        {% endif %}
        {% if product.metafields.custom.weight %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Weight</span> <span class="w-1/3">{{ product.metafields.custom.weight.value }}{{ product.metafields.custom.weight.unit }}</span></div>
        {% endif %}
        {% if product.metafields.custom.dimensions %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Dimensions</span> <span class="w-1/3">{{ product.metafields.custom.dimensions }}</span></div>
        {% endif %}
        {% if product.metafields.custom.capacity %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Capacity</span>  <span class="w-1/3">{{ product.metafields.custom.capacity }}</span></div>
        {% endif %}
        {% if product.metafields.custom.meal_per_load %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Meals</span>  <span class="w-1/3">{{ product.metafields.custom.meal_per_load }}</span></div>
        {% endif %}
        {% if product.metafields.custom.ideal_for %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Ideal for</span> <span class="w-1/3">{{ product.metafields.custom.ideal_for }}</span></div>
        {% endif %}
        {% if product.metafields.custom.cooks_at_night %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Cooks at night</span>  <span class="w-1/3">{{ product.metafields.custom.cooks_at_night }}</span></div>
        {% endif %}
        {% if product.metafields.custom.wheels %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Wheels</span> <span class="w-1/3">{{ product.metafields.custom.wheels.value }}</span></div>
        {% endif %}
        {% if product.metafields.custom.dual_compartments %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Dual Compartments</span> <span class="w-1/3">{{ product.metafields.custom.dual_compartments.value }}</span></div>
        {% endif %}
        {% if product.metafields.custom.center_console %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Center Console</span> <span class="w-1/3">{{ product.metafields.custom.center_console }}</span></div>
        {% endif %}
        {% if product.metafields.custom.number_of_passengers %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Number of Passengers</span> <span class="w-1/3">{{ product.metafields.custom.number_of_passengers }}</span></div>
        {% endif %}
        {% if product.metafields.custom.water_filter %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Water Filter</span> <span class="w-1/3">{{ product.metafields.custom.water_filter }}</span></div>
        {% endif %}
        {% if product.metafields.custom.faucet %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Faucet</span> <span class="w-1/3">{{ product.metafields.custom.faucet }}</span></div>
        {% endif %}
        {% if product.metafields.custom.flow_rate %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">Flow Rate</span> <span class="w-1/3">{{ product.metafields.custom.flow_rate }}</span></div>
        {% endif %}
          <div class="compare-row p-6 flex justify-between"><span class="color-contrast-medium w-2/3">MSRP</span> <span class="w-1/3"> {{ product.price | money_without_trailing_zeros }}</span></div>

      </div>
        
        <!-- ... other metafields -->
      {% endif %}
    </div>
  {% endfor %}
</div>
</div>


{% schema %}
  {
    "name": "Compare Guide",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "product_column",
        "name": "Product Column",
        "settings": [
          {
            "type": "product",
            "id": "product_reference",
            "label": "Select a product"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Learn More URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Compare Guide",
        "category": "Product"
      }
    ]
  }
  {% endschema %}
  