{% style %}
{% if section.settings.shrink_height == true %}
  @media screen and (min-width: 750px) {
  .feature-image {
    height: 400px;
  }
}
{% else %}
@media screen and (min-width: 750px) {
  .feature-image {
    height: 600px;
  }
}
{% endif %}


{% endstyle %}

<!-- Image Feature Section -->
<div class="{% if section.settings.top_padding == false %} pt-12 {% endif %} pb-12 ">
  <div class="feature-image body-width flex gap-2 lg:gap-12 flex-col {% if section.settings.invert_order %}md:flex-row-reverse{% else %}md:flex-row{% endif %} items-center justify-between space-y-8 md:space-y-0">
    <!-- Text Content -->
    <div class="content-width py-12 pt-36 lg:pt-12 w-full h-full md:w-1/2 br bg-contrast-lower flex flex-col justify-end">
      <div class="lg:w-2/3">
        {% if section.settings.overline != blank %}
          <p>{{ section.settings.overline }}</p>
        {% endif %}
        <div class="flex justify-between my-3 items-end">
          <h2 class="">
            {{ section.settings.heading }}
          </h2>
          {% if section.settings.price != blank %}
            <h4>${{ section.settings.price }}</h4>
          {% endif %}
        </div>
        <p {% if section.settings.button_label != blank %} class="mb-8" {% endif %}>
          {{ section.settings.text }}
        </p>
        {% if section.settings.button_label != blank %}
        <div class="flex gap-4 mt-16">
          {% if section.settings.button_label != blank %}
            <a href="{{ section.settings.button_url }}" class="btn px-6 py-2 ">
              {{ section.settings.button_label }}
              {% render 'btn-arrow' %}
            </a>
          {% endif %}
          {% if section.settings.button_label_2 != blank  %}
            <a href="{{ section.settings.button_url_2 }}" class="btn btn--ghost px-6 py-2 ">
              {{ section.settings.button_label_2 }}
              {% render 'btn-arrow' %}
            </a>
          {% endif %}
        </div>
      {% endif %}
      </div>
    </div>
    <!-- Image Content -->
    <div class="w-full md:w-1/2 h-full">
      <img src="{{ section.settings.image | img_url: '800x' }}" alt="{{ section.settings.heading }}" class="w-full h-full object-cover br" {% if section.settings.img-fit == true %} style="object-fit: contain;"   {% endif %}>
    </div>
  </div>
</div>


<!-- JSON for Theme Customizer -->
{% schema %}
{
  "name": "Image Feature",
  "settings": [
    {
      "type": "checkbox",
      "id": "invert_order",
      "label": "Invert column order on desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "shrink_height",
      "label": "Shrink height for compact vertical scroll",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "top_padding",
      "label": "Remove top padding",
      "default": false
    },
    {
      "type": "text",
      "id": "overline",
      "label": "Overline"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Lorem ipsum dolor sit amet consectetur. Non voluptat ullamcorper fermentum odio in non in nec neque."
    },
    {
      "type": "text",
      "id": "price",
      "label": "Price"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "img-fit",
      "label": "Contrain image to original aspect ratio",
      "default": false
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "button_url_2",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "label": "Button Label",
      "default": "Learn More"
    }
  ],
  "presets": [
    {
      "name": "Image Feature"
    }
  ]
}
{% endschema %}
