{% schema %}
{
    "name": "Flip Cards",
    "settings": [
        {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Flip Cards"
        },
        {
            "type": "number",
            "id": "desktop_cards",
            "label": "Number of Cards (Desktop)",
            "default": 3
        },
        {
            "type": "number",
            "id": "mobile_cards",
            "label": "Number of Cards (Mobile)",
            "default": 2
        }
    ],
    "blocks": [
        {
            "type": "container",
            "name": "Flip Card",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "background_image",
                    "label": "Background Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Card Text</p>"
                },
                {
                    "type": "richtext",
                    "id": "back_text",
                    "label": "Back Text",
                    "default": "<p>Back Card Text</p>"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Popular",
            "name": "Flip Cards"
        }
    ]
}
{% endschema %}

{% assign section_title = section.settings.section_title %}
{% if section_title != "" %}
<div class="section-title">
    <h2>{{ section_title }}</h2>
</div>
{% endif %}

<div class="scene scene--card">
  {% for block in section.blocks %}
  {% assign background_image_url = block.settings.background_image | prepend: "https://gosun.co/cdn/shop/" %}
  {% assign title = block.settings.title %}
  {% assign text = block.settings.text %}
  {% assign back_text = block.settings.back_text %}  
  <div class="card scroll-trigger animate--slide-in" style="border-radius: 10px; background-image: url('{{ background_image_url }}');">
    <div class="card__face card__face--front" style="opacity: 1;">
      <div class="card-content">
        <h2>{{ title }}</h2>
        <div>{{ text }}</div>
      </div>
      <span class="toggle-card toggle-card-plus">+</span> <!-- Plus symbol -->
    </div>
    <div class="card__face card__face--back" style="opacity: 0;">
      <div>{{ back_text }}</div>
      <span class="toggle-card toggle-card-minus">-</span> <!-- Minus symbol -->
    </div>
  </div>
  {% endfor %}
</div>

<style>
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var cards = document.querySelectorAll('.card');

  cards.forEach(function(card) {
    var frontFace = card.querySelector('.card__face--front');
    var backFace = card.querySelector('.card__face--back');

    frontFace.style.opacity = "1";
    backFace.style.opacity = "0";

    var backgroundImageUrl = card.style.backgroundImage.replace(/url\(['"](.+)['"]\)/, '$1');
    if (backgroundImageUrl) {
      var backgroundImage = new Image();
      backgroundImage.src = backgroundImageUrl;
      backgroundImage.onload = function() {
        card.style.height = backgroundImage.height + 'px';
      };
    }

    var plusButton = card.querySelector('.toggle-card-plus');
    plusButton.addEventListener('click', function(event) {
      event.stopPropagation();
      frontFace.style.opacity = "0";
      backFace.style.opacity = "1";
    });

    var minusButton = card.querySelector('.toggle-card-minus');
    minusButton.addEventListener('click', function(event) {
      event.stopPropagation();
      frontFace.style.opacity = "1";
      backFace.style.opacity = "0";
    });
  });
});
  
</script>