{% schema %}
{
    "name": "Flip Cards",
    "settings": [
        {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Flip Cards"
        },
        {
            "type": "number",
            "id": "desktop_cards",
            "label": "Number of Cards (Desktop)",
            "default": 3
        },
        {
            "type": "number",
            "id": "mobile_cards",
            "label": "Number of Cards (Mobile)",
            "default": 2
        }
    ],
    "blocks": [
        {
            "type": "container",
            "name": "Flip Card",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "background_image",
                    "label": "Background Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Card Text</p>"
                },
                {
                    "type": "richtext",
                    "id": "back_text",
                    "label": "Back Text",
                    "default": "<p>Back Card Text</p>"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Popular",
            "name": "Flip Cards"
        }
    ]
}
{% endschema %}

{% assign section_title = section.settings.section_title %}
{% if section_title != "" %}
<div class="section-title">
    <h2>{{ section_title }}</h2>
</div>
{% endif %}

<div class="scene scene--card">
  {% for block in section.blocks %}
  {% assign background_image_url = block.settings.background_image | prepend: "https://gosun.co/cdn/shop/" %}
  {% assign title = block.settings.title %}
  {% assign text = block.settings.text %}
  {% assign back_text = block.settings.back_text %}  
  <div class="card scroll-trigger animate--slide-in" style="border-radius: 10px; background-image: url('{{ background_image_url }}');">
    <div class="card__face card__face--front" style="opacity: 1;">
      <div class="card-content">
        <h2>{{ title }}</h2>
        <div>{{ text }}</div>
      </div>
      <span class="toggle-card toggle-card-plus">+</span> <!-- Plus symbol -->
    </div>
    <div class="card__face card__face--back" style="opacity: 0;">
      <div>{{ back_text }}</div>
      <span class="toggle-card toggle-card-minus">-</span> <!-- Minus symbol -->
    </div>
  </div>
  {% endfor %}
</div>

<style>
.section-title {
    text-align: center;
    padding-top: 130px;
    padding-bottom: 100px;
}

.section-title h2 {
    font-size: 50px;
    color: #ffffff;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2em;
}
.scene {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  cursor: default;
  transition: opacity 1s ease;
  width: calc(100% / {{ section.settings.desktop_cards }} - 20px);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  cursor: default;
}

.card__face--back {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 9px;  
}

.toggle-card {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    z-index: 4;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding-left: 11px;
    padding-right: 11px;
}

.toggle-card.toggle-card-minus {
  color: #000;
  border-radius: 100px;
  padding-left: 13px;
  padding-right: 13px;
  border: 1px solid #000000;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content h2 {
  margin-bottom: 10px;
  white-space: nowrap; /* Prevent the title from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Display ellipsis for overflow text */
}

.card-content div {
  flex-grow: 1; /* Allow the paragraph to take up remaining space */
  text-align: center; /* Center-align paragraph */
}

.card__face--front h2,
.card__face--front div {
  width: 100%; /* Ensure content takes full width */
}

.card__face--front h2 {
  font-size: 30px; /* Adjust font size for front card heading */
  color: #ffffff; /* Inherit color from parent */
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 100px;
  line-height: 1.2em;
}

.card-content p {
    color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 360px;
}

.card__face--front div {
  font-size: 18px; /* Adjust font size for front card paragraph */
  font-weight: 300; /* Adjust font weight as needed */
  text-align: left; /* Left-align text */
}

.card__face--back p {
  color: #000000;
  font-weight: 300;
}
/* For desktop */
@media only screen and (min-width: 768px) {
  .card {
    width: calc(100% / {{ section.settings.desktop_cards }} - 12.5px);
    margin-bottom: 20px;
  }
  .shopify-section#shopify-section-template--15144452391006__flip_card_CGFMCY .card {
    width: calc(100% / 1 - 12.5px);
    margin-bottom: 20px;
  }
  .shopify-section#shopify-section-template--15144452391006__flip_card_qJ6JyA .card {
    width: calc(100% / 3 - 12.5px);
    margin-bottom: 20px;
  }  
  div#shopify-section-template--15144452391006__flip_card_CGFMCY .card__face--front h2 {
    /* float: right;
    text-align: left;
    padding-left: 0px !important;
    padding-right: 0px !important; 
    margin-right: 10%;
    width: -webkit-fill-available; */
    max-width: 500px; 
    padding-left: 40px;
    padding-right: 40px;
}
    div#shopify-section-template--15144452391006__flip_card_CGFMCY .card-content {
    display: flex;
    align-items: flex-end;
}
  div#shopify-section-template--15144452391006__flip_card_CGFMCY .card-content p {
      /* float: right !important;
      padding-left: 0px;
      padding-right: 0px; */
      max-width: 500px;
  }
  /* div#shopify-section-template--15144452391006__flip_card_CGFMCY .card__face--front div {
    margin-right: 10%;
} */
  div#shopify-section-template--15144452391006__flip_card_CGFMCY  .card-content p {max-width: 500px;}
}

/* For mobile */
@media only screen and (max-width: 767px) {
  .card {
    width: calc(100% / {{ section.settings.mobile_cards }} - 20px);
    margin-bottom: 20px;
  }
  .shopify-section#shopify-section-template--15144452391006__flip_card_CGFMCY .card {
    width: calc(100% / 1 - 20px);
    margin-bottom: 20px;
  }
  .shopify-section#shopify-section-template--15144452391006__flip_card_qJ6JyA .card {
    width: calc(100% / 1 - 20px);
    margin-bottom: 20px;
  }  
  .scene {
    justify-content: center;
  }
}
.card-content h2 {
  margin-bottom: 10px;
  white-space: normal; /* Allow text to wrap */
  overflow: hidden; /* Hide overflow text */
  text-overflow: unset; /* Disable ellipsis */
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var cards = document.querySelectorAll('.card');

  cards.forEach(function(card) {
    var frontFace = card.querySelector('.card__face--front');
    var backFace = card.querySelector('.card__face--back');

    frontFace.style.opacity = "1";
    backFace.style.opacity = "0";

    var backgroundImageUrl = card.style.backgroundImage.replace(/url\(['"](.+)['"]\)/, '$1');
    if (backgroundImageUrl) {
      var backgroundImage = new Image();
      backgroundImage.src = backgroundImageUrl;
      backgroundImage.onload = function() {
        card.style.height = backgroundImage.height + 'px';
      };
    }

    var plusButton = card.querySelector('.toggle-card-plus');
    plusButton.addEventListener('click', function(event) {
      event.stopPropagation();
      frontFace.style.opacity = "0";
      backFace.style.opacity = "1";
    });

    var minusButton = card.querySelector('.toggle-card-minus');
    minusButton.addEventListener('click', function(event) {
      event.stopPropagation();
      frontFace.style.opacity = "1";
      backFace.style.opacity = "0";
    });
  });
});
  
</script>